
<div class="card card-warning">
  <p-toast></p-toast>

  <div class="card-header">
    <h3 class="card-title">Modifier Patient</h3>
  </div>



  <div class="card-body" [hidden]="!det" >
    <form role="form" [formGroup]="add">


      <div class="form-group">
        <label class="col-form-label" for="no"> Status </label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.status.invalid) ? 'is-invalid' : 'is-valid'"   id="no" placeholder="Entrer ..." required="required" name="status" formControlName='status' >
      </div>
      <div class="form-group">
        <label class="col-form-label" for="pr"> Etat du patient</label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.etatDuPatient.invalid) ? 'is-invalid' : 'is-valid'"   id="pr" placeholder="Entrer ..." required="required" name="etatDuPatient" formControlName='etatDuPatient' >
      </div>
      <div class="form-group">
        <label class="col-form-label" for="em"> Heure de prise en charge</label>
        <input type="datetime-local" class="form-control " [ngClass]="(this.add.controls.heurePriseCharge.invalid) ? 'is-invalid' : 'is-valid'"   id="em" placeholder="Entrer ..." required="required" name="heurePriseCharge" formControlName='heurePriseCharge' >
      </div>

      <div class="form-group">
        <label class="col-form-label" for="ph"> Service Affectation</label>
        <input type="text" class="form-control " [ngClass]="(this.add.controls.serviceAffectation.invalid) ? 'is-invalid' : 'is-valid'"   id="ph" placeholder="Entrer ..." required="required" name="serviceAffectation" formControlName='serviceAffectation' >
      </div>




      <input type="submit" class="button-29" value=" Ajouter " style="margin-left: 35%" [disabled]='this.add.invalid' (click)="addDetailPatient(detailPatient) "/>
      <button class="button-29" style="margin-left: 20px" (click)="this.det=false" >Annuler</button>
    </form>
  </div>




  <button class="button-29" style="margin:1% 0% 0% 40%;width:15%;padding: 0px 0px 0px 0px "  (click)="this.det=true" [hidden]="det">Ajouter Details</button>

  <div class="card-body" [hidden]="det">
    <form role="form" [formGroup]="edit">


      <div class="form-group">
        <label class="col-form-label" for="us"> Nom</label>
        <input type="text" class="form-control " [ngClass]="(this.edit.controls.nom.invalid) ? 'is-invalid' : 'is-valid'"   id="us" placeholder="Entrer ..." required="required" name="patient.nom" formControlName='nom' [(ngModel)]="patient.nom">
        <div *ngIf="this.edit.controls.nom?.invalid && (this.edit.controls.nom?.dirty || this.edit.controls.nom?.touched)" style="color:red">

          <div *ngIf="this.edit.controls.nom?.errors?.['required']" >
            obligatoire*
          </div>
          <div *ngIf="this.edit.controls.nom?.errors?.['minlength']">
            Au moins 3 caractères .
          </div>

        </div>
      </div>
      <div class="form-group">
        <label class="col-form-label" for="no"> Prenom </label>
        <input type="text" class="form-control " [ngClass]="(this.edit.controls.prenom.invalid) ? 'is-invalid' : 'is-valid'"   id="no" placeholder="Entrer ..." required="required" name="patient.prenom" formControlName='prenom' [(ngModel)]="patient.prenom">
        <div *ngIf="this.edit.controls.prenom?.invalid && (this.edit.controls.prenom?.dirty || this.edit.controls.prenom?.touched)" style="color:red">

          <div *ngIf="this.edit.controls.prenom?.errors?.['required']" >
            obligatoire*
          </div>
          <div *ngIf="this.edit.controls.prenom?.errors?.['minlength']">
            Au moins 3 caractères .
          </div>

        </div>
      </div>

<div class="form-group">
        <label class="col-form-label" for="no"> Email </label>
        <input type="email" class="form-control " [ngClass]="(this.edit.controls.email.invalid) ? 'is-invalid' : 'is-valid'"   id="no" placeholder="Entrer ..." name="patient.email" formControlName='email' [(ngModel)]="patient.email">
      </div>
<div class="form-group">
        <label class="col-form-label" for="no"> Domicile </label>
        <input type="email" class="form-control " [ngClass]="(this.edit.controls.domicile.invalid) ? 'is-invalid' : 'is-valid'"   id="no" placeholder="Entrer ..." required="required" name="patient.domicile" formControlName='domicile' [(ngModel)]="patient.domicile">
  <div *ngIf="this.edit.controls.domicile?.invalid && (this.edit.controls.domicile?.dirty || this.edit.controls.domicile?.touched)" style="color:red">

    <div *ngIf="this.edit.controls.domicile?.errors?.['required']" >
      obligatoire*
    </div>

  </div>
      </div>

<div class="form-group">
        <label class="col-form-label" for="no"> Photo </label>
        <input type="text" class="form-control " [ngClass]="(this.edit.controls.photo.invalid) ? 'is-invalid' : 'is-valid'"   id="no" placeholder="Entrer ..." name="patient.photo" formControlName='photo' [(ngModel)]="patient.photo">
      </div>

<div class="form-group">
        <label class="col-form-label" for="no"> CIN </label>
        <input type="number" class="form-control " [ngClass]="(this.edit.controls.numIdendite.invalid) ? 'is-invalid' : 'is-valid'"   id="no" placeholder="Entrer ..." required="required" name="patient.numIdendite" formControlName='numIdendite' [(ngModel)]="patient.numIdendite">
  <div *ngIf="this.edit.controls.numIdendite?.invalid && (this.edit.controls.numIdendite?.dirty || this.edit.controls.numIdendite?.touched)" style="color:red">

    <div *ngIf="this.edit.controls.numIdendite?.errors?.['required']" >
      obligatoire*
    </div>
    <div *ngIf="this.edit.controls.numIdendite?.errors?.['minlength']">
      au moins 8 numéros .
    </div>
    <div *ngIf="this.edit.controls.numIdendite?.errors?.['maxlength']">
      au plus 8 numéros .
    </div>
  </div>
      </div>

<div class="form-group">
        <label class="col-form-label" for="no"> Date de naissance </label>
        <input type="date" class="form-control " [ngClass]="(this.edit.controls.dateNaissance.invalid) ? 'is-invalid' : 'is-valid'"   id="no" placeholder="Entrer ..." required="required" name="patient.dateNaissance" formControlName='dateNaissance' [(ngModel)]="patient.dateNaissance">
  <div *ngIf="this.edit.controls.dateNaissance?.invalid && (this.edit.controls.dateNaissance?.dirty || this.edit.controls.dateNaissance?.touched)" style="color:red">

    <div *ngIf="this.edit.controls.dateNaissance?.errors?.['required']" >
      obligatoire*
    </div>

  </div>
      </div>

      <div class="row">
        <div class="col-sm-6">

          <div class="form-group">
            <label>Genre</label>
            <select class="form-control" formControlName='genre' [(ngModel)]="patient.genre">
              <option [defaultSelected]="true"   >Homme</option>
              <option  >Femme</option>

            </select>

            <div *ngIf="this.edit.controls.genre?.invalid && (this.edit.controls.genre?.dirty || this.edit.controls.genre?.touched)" style="color:red">

              <div *ngIf="this.edit.controls.genre?.errors?.['required']" >
                obligatoire*
              </div>

            </div>
          </div>
        </div>

      </div>




      <div class="row">
        <div class="col-sm-6">

          <div class="form-group">
            <label>est Assuré :</label>
            <select class="form-control" formControlName='assure' [(ngModel)]="patient.estAssure">
              <option  [defaultSelected]="true" [ngValue]="true" >Oui</option>
              <option [ngValue]="false" >Non</option>

            </select>
            <div *ngIf="this.edit.controls.assure?.invalid && (this.edit.controls.assure?.dirty || this.edit.controls.assure?.touched)" style="color:red">

              <div *ngIf="this.edit.controls.assure?.errors?.['required']" >
                obligatoire*
              </div>

            </div>
          </div>
        </div>

      </div>

      <div class="form-group" *ngIf="patient.estAssure">
        <label class="col-form-label" for="no11"> Taux Assurance </label>
        <input type="number" class="form-control " [ngClass]="(this.edit.controls.tauxAssurance.invalid) ? 'is-invalid' : 'is-valid'"   id="no11" placeholder="Entrer ..."  name="patient.tauxAssurance" formControlName='tauxAssurance' [(ngModel)]="patient.tauxAssurance">

      </div>


      <div class="form-group" *ngIf="patient.estAssure">
        <label class="col-form-label" for="no12"> Numéro D'Affiliation </label>
        <input type="number" class="form-control " [ngClass]="(this.edit.controls.numAffeliation.invalid) ? 'is-invalid' : 'is-valid'"   id="no12" placeholder="Entrer ..."  name="patient.numAffeliation" formControlName='numAffeliation' [(ngModel)]="patient.numAffeliation">
      </div>

      <input type="submit" class="button-29" value=" Modifier " style="margin-left: 40%" [disabled]='edit.invalid' (click)="editPatient(patient)"/>
      <button class="button-29" style="margin-left: 10px" [routerLink]="['../../']" >Retour</button>
    </form>
  </div>

</div>
